<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="blueboat">

  <xacro:arg name="environment" default="sim"/>
  <xacro:arg name="lookup_csv" default=""/>

  <xacro:macro name="blueboat_thrusters_macro" params="prefix">

    <!-- Link base mínimo -->
    <link name="${prefix}base_link"/>

    <!-- Thruster izquierdo -->
    <link name="${prefix}left_thruster_link"/>
    <joint name="${prefix}left_thruster_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}left_thruster_link"/>
      <origin xyz="-0.1908 -0.294712 0.284077" rpy="0.0 0.0 0.0"/>
    </joint>

    <!-- Thruster derecho -->
    <link name="${prefix}right_thruster_link"/>
    <joint name="${prefix}right_thruster_joint" type="fixed">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}right_thruster_link"/>
      <origin xyz="-0.190825 0.259452 0.284077" rpy="0.0 0.0 0.0"/>
    </joint>

  </xacro:macro>

  <xacro:blueboat_thrusters_macro prefix="blueboat/"/>

  <ros2_control name="ThrustersSystem" type="system">
    <hardware>
      <plugin>thrusters_hardware_interface/ThrustersSystem</plugin>
      <param name="environment">$(arg environment)</param>
      <param name="lookup_csv">$(arg lookup_csv)</param>
    </hardware>

    <joint name="left_thruster_joint">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="right_thruster_joint">
      <command_interface name="effort"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

</robot>